/*-- scss:defaults --*/

// Customizations using Sass variables

$font-size-root: 1.05em;

$primary: #a499c3;
$secondary: #002e54;
$link-color: #1d87c2;

$theme-paris-pink: #f292b7;
$theme-paris-blue: #1d87c2;
$theme-paris-dblue: #002e54;

/*-- scss:rules --*/

// Customizations of specific components


/* navigation bar basic */
.navbar {
  background-color:#a499c3;
  color: white;
}

/* navigation bar: active link text */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #d6be76;
}

/* rounded corners of cards */
.html-fill-container>.html-fill-item {
  border-radius: 15px;
}

/* card headers */
.quarto-dashboard .card-header{
  background-color: #f292b7;
  color: white;
}

.card-header-tabs .nav-link {
  color: white;
}

.card-header-tabs .nav-link.active {
  background-color: #d6be76;
  color: white;
}

