/*-- scss:defaults --*/

// Customizations using Sass variables

$font-size-root: 1em;

$primary: #a499c3;
$secondary: #002e54;
$link-color: #1d87c2;


/*-- scss:rules --*/

// Customizations of specific components

// text in nav bar
